body {
    margin: 0px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background: #313131;
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2px;
}

.choose-operations {
    width: 25%;
    margin-top: 10px;
}

.choose-color {
    width: 20%;
}

.choose-features {
    width: 25%;
    margin-top: 20px;
}
.tools .color-field {
    height: 30px;
    width: 30px;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
}

 .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 10px;
}

.color-picker {
    align-self: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.pen-range {
    align-self: center;
    margin: 0 25px;
}

canvas {
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
    margin-top: 10px;
}